form {
  width: 320px;
  height: 370px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
}

form h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}

label {
  display: block;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 64px;
  margin-bottom: 2px;
}
input {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 32px;
  border: 0.5px solid #000000;
  border-radius: 4px;
  padding: 6px;
}
::placeholder {
  color: #777777;
}

button {
  width: 200px;
  height: 32px;
  margin: 10px 60px 0px 60px;

  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 13px;
}

.spinner {
  text-align: center;
  margin-top: 300px;
}

.alert {
  margin: 70px auto;
  width: 400px;
  height: 85px;
  text-align: center;
  font-size: 24px;
  background-color: lightcoral;
  border-radius: 5px;
}
.alert p {
  display: block;
  padding-top: 20px;
}
